[Unit]
Description = Frame
After = multi-user.target network.target
[Service]
ExecStart=/home/pi/Frame/venv/bin/python dashboard.py
WorkingDirectory=/home/pi/Frame
User=root
Type=idle
[Install]
WantedBy = multi-user.target
